body {
    margin: 10PX;
    padding: 10PX;
    background-color: #f5f5f5;
}

tr {
    background-color: #808080;
}

td {
    vertical-align: middle;
}

.left {
    padding-left: 10px;
}

.right {
    padding-left: 10px;
    padding-right: 50px;
}

table {
    border-collapse: collapse;
    color: white;
}

tr:hover {
    background-color: #5e5e5e;
    color: white;
}